/node_modules
/public/hot
/public/storage
/storage/*.key

/storage/app/public/pizzas

!/storage/app/public/ingredients/noimage.jpg
!/storage/app/public/pizzas/noimage.jpg

/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/var/log
